body {
        width: 1280px;
        height: 3841px;
        margin: 0;
        border: solid pink 1px;
        font-family:'Open Sans', sans-serif;

      }

header, footer,nav, div {
              border: 0px solid black;
              padding: 0.25em;
              margin: 0.25em;
              font-family:'Open Sans', sans-serif;

}

div{
  display:flex;

}

h1{
  width: 60%;
  text-align: center;
}

h2{
  font-weight:lighter;

}

header{
  height: 63px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #373e46; /* dark grey */
  margin: 0;
}

header ul{

  list-style-type: none;
  margin: 0;
  padding: 0;
  color: white;
  width: 50%;
  font-family: sans-serif;

}
.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 600px;
  margin: 0 -30px;

}

.logo {
  color:white;
  font-size: 40px;
}



footer{
  height: 63px;
}
.one{

  background:url('images/home.jpg'),rgba(0,159,207,0.5); /*bright blue */
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(27,40,50,0.5);
  background-size: 180%; /*zoom in the pic */
  background-position: -200px -330px; /*  */
  padding:0;
  margin:0;
  height:650px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:white;
}

.one a{
  text-align: center;
  margin-top: 30px;
}
.one h2{
  width:750px;
  text-align: center;
  font-weight: lighter;
  font-size:  20px;
  margin-top: 0px;
}

.one button{
  border: solid #43a9d2 2px;
  border-radius: 8px;
  width: 250px;
  height: 40px;
  color: #43a9d2;
  background-color:transparent ;
  font-weight: bold;
}



/*
button :visited{
  color: white;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
} */

.two{
  background-color: #39a1d1; /*blue*/

  height:371px;
  margin:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.two p{
  margin:0;
  color:rgba(0,0,0,0.4);
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.two h1{
  margin-top:10px;
  color:rgba(0,0,0,0.4);
  font-weight:lighter;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.three{
  background-color: rgb(247,247,247); /*whitesmoke*/
  height:371px;
  margin:0;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: rgb(164,178,183);
}

#roundbutton{
  border-radius:50%;
  border:none;
  color: white;
  font-size: 35px ;
  height:50px;
  width:50px;
  background-color: rgb(164,178,183);
  text-decoration: none;
  text-align: center;
}


.linkbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.linkbox h1{
  margin:0;
  width: 100%;
}

.linkbox h2 {
  margin: 0 0 20px 0;
}



#rectanglebutton{
  border: solid rgb(0,159,207) 1px;
  border-radius: 25px;
  width: 100%;
  height:30px;
  padding: 1px 30px;
  color: rgba(0,159,207,1);
  background-color: transparent;
  font-weight: bold;

}



.four{
  background-color: white;
  height:700px;
  margin:0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.rightcolumn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.rightcolumn img {
  width: auto;
  height: 50%;
}

.leftcolumn{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  flex-wrap: nowrap;
}

.leftcolumn h1,h2,p{
  width:80%;
  text-align: left;
  margin: 5px 0px;

}

.leftcolumn h1{
  font-weight: lighter;
}
.leftcolumn h2{
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

.leftcolumn h2 a{
  text-decoration: none;
  color: rgb(0,159,207);
}
.leftcolumn p {
  color: rgb(164,178,183);
}

.five{
  background-color: #373e46; /*darkslategrey*/
  height:371px;
  margin:0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}



.rightcolumn5{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.rightcolumn5 form{

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 140px;
  background-color: #444d57;
  border-radius: 9px;
  width: 50%;
}

.rightcolumn5 a{
  margin-top: 20px;
}

.rightcolumn5 a:hover{

  background-color: gold;
}

#rectanglebutton2{
  border: solid #39a1d1 1px;
  border-radius: 9px;
  background-color: #39a1d1;
  width: 300px;
  height:30px;
  padding: 1px 30px;
  color: white;
  font-weight: bold;
  margin-left: 5px ;
  margin-right:5px ;

}

#rectanglebutton2:hover{
  cursor: crosshair;
}

#emailinput{
  margin-top: 3px;
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
}



.leftcolumn5{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  color:white;
}
.leftcolumn5 h1{
  width:100%;
  font-weight: lighter;
}

.leftcolumn5 span {
  color: rgb(0,159,207);
}

.six{

  background:url('images/home.jpg'),rgba(0,159,207,0.5); /*bright blue */
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(67,169,210,0.5);
  height:371px;
  margin:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(242,247,252);/* kinda white*/

}

.six h2,p {
  text-align: left;
  width:600px;

}
.six p {
  font-size: 13px;
  color: rgba(242,247,252,0.8); /* kinda white */

}

.seven{
  background-color: #f2f7fc;
  height:700px;
  margin:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexcontainer{
  width: 600px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

}

.seven h2{
  width:600px;
  font-weight: bolder;
  color: #424242; /* black , not exactly*/
  margin-bottom: 0px;
}
.seven p{
  width:600px;
  font-weight: lighter;
  color:#adb0b2; /* kinda white */
  margin-top: 0px;
}

.seven button{
  margin-top: 20px;
  border: solid #39a1d1 1px;
  border-radius: 7px;
  background-color: #39a1d1;
  width: 300px;
  height: 50px;
  padding: 1px 30px;
  color: white;
  font-weight: bold;

}

footer{
  background-color: rgb(69,73,78);
  height: 100px;
  margin:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:white;
  font-weight: lighter;
}

footer p{
  margin:0;
}

#footerp2 {
  width: 800px;
}
