body {
        width: 1280px;
        height: 3841px;
        margin: 0;
        border: solid pink 1px;
        font-family:'Open Sans', sans-serif;

      }

header, footer,nav, div {
              border: 0px solid black;
              padding: 0.25em;
              margin: 0.25em;
              font-family:'Open Sans', sans-serif;

}

div{
  display:flex;

}

h1{
  width: 60%;
  text-align: center;
}

h2{
  font-weight:lighter;
}

header{
  height: 63px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(69,73,78);
  margin: 0;
}

header ul{

  list-style-type: none;
  margin: 0;
  padding: 0;
  color: white;
  width: 50%;
  font-family: sans-serif;

}
.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 600px;
  margin: 0 -30px;

}

.logo {
  color:white;
  font-size: 40px;
}

.logo{

}

footer{
  height: 63px;
}
.one{

  background-image:url(/home/tpaparazzo/becode_projects/Exercices-HTML5/Exercice_5_reproduction/images/home.jpg);
  background-repeat: no-repeat;
  background-size: 180%; /*zoom in the pic */
  background-position: -200px -330px; /*  */
  padding:0;
  margin:0;
  height:650px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:white;




}

.one h1, h2, p {
  z-index: 5;
}

.one::before{
  background-color: rgba(69,73,78,0.5); /*darkslategrey*/
  content:'';
  display: block;
  position:absolute;
  margin:0 0;
  height:658px;
  width: 1280px;
  z-index:0;
}

a{
  text-align: center;
}

.one button{
  border: solid rgb(0,159,207) 2px;
  border-radius: 8px;
  width: 60%;
  color: rgba(0,159,207,1);
  background-color: transparent;
  z-index:6;
  font-weight: bold;
}



/*
button :visited{
  color: white;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
} */

.two{
  background-color: rgb(0,159,207); /*blue*/

  height:371px;
  margin:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.two p{
  margin:0;
  color:rgba(0,0,0,0.4);
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.two h1{
  margin-top:10px;
  color:rgba(0,0,0,0.4);
  font-weight:lighter;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.three{
  background-color: rgb(247,247,247); /*whitesmoke*/
  height:371px;
  margin:0;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: rgb(164,178,183);
}

#roundbutton{
  border-radius:50%;
  border:none;
  color: white;
  font-size: 35px ;
  height:50px;
  width:50px;
  background-color: rgb(164,178,183);
  text-decoration: none;
}


.linkbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.linkbox h1{
  margin:0;
  width: 100%;
}

.linkbox h2 {
  margin: 0 0 20px 0;
}



#rectanglebutton{
  border: solid rgb(0,159,207) 1px;
  border-radius: 25px;
  width: 100%;
  height:30px;
  padding: 1px 30px;
  color: rgba(0,159,207,1);
  background-color: transparent;
  font-weight: bold;

}



.four{
  background-color: white;
  height:700px;
  margin:0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.rightcolumn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.rightcolumn img {
  width: auto;
  height: 50%;
}

.leftcolumn{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  flex-wrap: nowrap;
}

.leftcolumn h1,h2,p{
  width:80%;
  text-align: left;
  margin: 5px 0px;

}

.leftcolumn h1{
  font-weight: lighter;
}
.leftcolumn h2{
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

.leftcolumn h2 a{
  text-decoration: none;
  color: rgb(0,159,207);
}
.leftcolumn p {
  color: rgb(164,178,183);
}

.five{
  background-color: rgb(69,73,78); /*darkslategrey*/
  height:371px;
  margin:0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

form{
  display: flex;
  flex-direction: column;



}

.rightcolumn5{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}


.leftcolumn5{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  color:white;
}

.leftcolumn5 span {
  color: rgb(0,159,207);
}

.six{
  background-color: rgb(48,146,205);
  height:371px;
  margin:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.seven{
  background-color: white;
  height:743px;
  margin:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer{
  background-color: rgb(69,73,78);
  height: 100px;
  margin:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p{
  margin:0;
}
